footer
    div
        a(href='http://www.facebook.com/Nicole.Ahima')  Facebook &nbsp
        a(href='http://www.linkedin.com/pub/nicole-ahima/54/712/703/en') | LinkedIn &nbsp
        a(href='https://github.com/Naa2e') | GitHub

    p &copy; 2015 Nicole Ahima
