nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Nicole A
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Home
      li
        a(href='/developer') Developer
      li
        a(href='/desginer') Designer
      li
        a(href='/dancer') Dancer

