body {
    background-color: black;
    color: #FFF;
    text-align: center;
}

h1 {
    float: ;
    font-family: 'Alex Brush';
    font-size: 8.75em;
    text-align: center;
    border: ;
    padding: 0px;
    margin: 25px;
}

h4 {
  font-family: 'Architects Daughter';
}

a {
    text-decoration: none;
    font-family: 'Architects Daughter';
}

h1 a.selected {
    color: #fff
}

nav ul {
    font-family: 'Architects Daughter';
}

nav a,
nav a:visited {
    color: #fff;
}
/*Hover can only come after visited.*/

h1 a:hover {
    color: #000;
    text-shadow: -1px 0 black, 0 1px grey, 1px 0 white, 0 -1px grey;
}

section {
    text-align: center
}

#pic {
    width: 35%
}

footer {
    font-family: 'Architects Daughter';
    text-align: center;
}

footer div {
    word-spacing: 2em;
    padding: 20px;
}

footer a,
footer a:visited {
    color: #fff;
}
